.link {
  color:white;
}

.link:hover {
  color: rgba(255, 255, 255, 0.837);
}

.form-label {
  padding-top: 3px;
  font-size: 1.1em;
}

.form-textbox {
  display: inline-block;
  font-family: inherit;
  width: 80%;
  border: 0;
  outline: 0;
  color: white;
  background: transparent;
  transition: border-color 0.2s;
  font-size: 1.1em;
}

.icon-align {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-bottom: 1px solid grey;
}

.person-icon {
  height: 20px;
  margin: 1px;
  margin-right: 1px;
}

.password-icon {
  height: 23px;
  margin: 1px;
  margin-right: 5px;
}

.visible-icon {
  height: 14px;
}

.email-icon {
  height: 14px;
  margin: 1px;
  margin-right: 5px;
}
