* {
  margin: 0;
  padding: 0;
}

.signup-bg {
  background: linear-gradient(135.78deg, #0094FF 10.86%, rgba(255, 255, 255, 0) 89.53%),#06A429;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: 'center';
}

.signup-box-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}